<!-- <p>edit works!</p>
<div>
    <div>
    <div>id: </div>
</div>
<div>
    <label>name :</label>
</div>
<button>Save</button>
<button >Back</button>
</div> -->

<p>edit works!</p>
<div>
    <div>
        <div>{{ itemName }}</div> 
      </div>
  <div>
    <div>ID: {{ itemId }}</div> 
  </div>
  <div>
    <label>Name:</label> 
    <input type="text" [(ngModel)]="itemName" placeholder="item name">
  </div>
  <button (click)="saveItem()">Save</button> 
  <button (click)="goBack()">Back</button> 
</div>
